.card {
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.01);
    border-radius: 0.3rem;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.cardImage {
    height: 70%;
    width: 100%;
    object-fit: contain;
}

.cardImage img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.cardBody {
    background-color: #f9f7f7;
    padding: 0.75rem 0.25rem;
    height: 30%;
    position: relative;
}

.rating {
    position: absolute;
    margin: 0;
    top: -1.5rem;
    font-size: .65rem;
    left: 0.5rem;
    background-color: hsla(0, 0%, 100%, .8);
    padding: 0 4px;
    border-radius: 2px;
}

.card-title-price {
    font-size: 1rem;
    margin: 10px 0;
    column-gap: .5rem;
}

.card-title-price h5 {
    margin: 0;
    font-weight: 600;
}

.cardTitle {
    text-align: left;
}